* {
    margin: 0;
    font-style: 'Open Sans', sans-serif;
 
}

a {
    color: rgb(107, 103, 103);
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
}

.text-center {
    text-align: center;
}

header {
    background-color: white;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

header nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    margin-right: 5px;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(90, 90, 90);
}

.contact {
    color: white;
}

/* Responsive layout */
/* @media (min-width: 1200px) {
    header {
        padding: 5px 25%;
    }
} */



/* .contact-me {
    background-color: black;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: white;
} */

/* body {
    display: flex;
    flex-direction: column;
    background-color: #999;
}    */




    
/* header {
    display: flex;
    justify-content: right;
    color: white);
    font-size: 35px;
} */
