* {
    margin: 0;
    font-style: 'Open Sans', sans-serif;
}

a {
    color: white;
    text-decoration: none;
    
}

.text-center {
    text-align: center;
}

header {
    background-color: rgb(53, 154, 161);
    padding: 5px 20px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: white;
}

header nav a:hover {
    text-decoration: underline;
    margin-right: 5px;
}
/* body {
    display: flex;
    flex-direction: column;
    background-color: #999;
}    */




    
/* header {
    display: flex;
    justify-content: right;
    color: white);
    font-size: 35px;
} */
